
body {
  background-color: #0E0E0C !important;
  color: #e9eaeb !important;
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}


.publicte{
  

}
h2 {
  color: #e9eaeb !important;
}
.modal-content {
  background-color: #3B3B3B !important;
}
.publictext{
  color: red !important;
}
.accordion{
  background-color: rebeccapurple !important;
}